<h1>tooltip#2</h1>
<p>
  <i>partials/tooltip2.html</i>
</p>

<h2>
  HTML Table
</h2>

<table>
  <tr>
    <th>test value#1</th>
    <td>1.00</td>
  </tr>
  <tr>
    <th>test value#2</th>
    <td>20</td>
  </tr>
  <tr class="separator"><td></td></tr>
  <tr>
    <th>test value#1</th>
    <td>1.00</td>
  </tr>
  <tr>
    <th>test value#2</th>
    <td>20</td>
  </tr>
</table>

<h2>
  List
</h2>
<ul>
  <li>bullet 1</li>
  <li>bullet 2</li>
</ul>

<p>
  and everything angular let you do
</p>

<p>
  such as binding <br>
  {{data | json}}
</p>
<p>
  or filter <br>
  {{ 2+1.0053430 | number:2 }}
</p>
